<div class="backBtn"></div>

<div class="links">
  <button
    class="linkBtn"
    mat-raised-button
    color="accent"
    routerLink="/setting"
  >
    Back
  </button>

  <button
    class="linkBtn"
    mat-raised-button
    color="accent"
    (click)="openAddCard()"
  >
    Add Card
  </button>
</div>

<div class="tableWrap">
  <table>
    <thead>
      <th>S.No</th>
      <th>Card Name</th>
      <th>Image</th>
      <th>Action</th>
    </thead>
    <tbody>
      <tr></tr>
    </tbody>
  </table>
</div>
