.addDesignationLink {
  position: fixed;
  top: 4.5rem;
  right: 10px;
  z-index: 100;
}

table {
  width: 100%;
  margin: auto;
  // box-shadow: 1px 10px 10px 1px rgba(39, 38, 38, 0.567);
  border-collapse: collapse;
  border: 5px;
  overflow: scroll;
}

th {
  //   background-color: rgb(104, 96, 96);
  //   color: white;
  padding: 16px;
  text-align: left;
  font-weight: 400;
}

td {
  padding: 8px;
  text-align: left;
  font-weight: 100;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
