<div class="dialogBox">
  <div class="dialogHead">
    <p>Unit Form</p>
  </div>
  <form [formGroup]="unitForm">
    <div class="unitForm" mat-dialog-content>
      <mat-form-field appearance="outline">
        <mat-label>Unit</mat-label>
        <input type="text" matInput formControlName="unit" />
      </mat-form-field>
    </div>
    <div class="dialogAction" mat-dialog-actions>
      <button
        mat-raised-button
        color="warn"
        type="button"
        mat-dialog-close="false"
      >
        Cancel
      </button>

      <button mat-raised-button color="primary">
        {{ _data ? "Update" : "Save" }}
      </button>
    </div>
  </form>
</div>
