<div class="links">
  <div class="linkBtn">
    <button mat-raised-button color="accent">Add Purchaser Order</button>
    <button mat-raised-button color="accent">Purchase Return</button>
    <button mat-raised-button color="accent">Receive Purchase</button>
    <button mat-raised-button color="accent" routerLink="view-purchase">
      View Purchase
    </button>
    <button mat-raised-button color="accent">View Purchase Order</button>
    <button mat-raised-button color="accent">View Purchase Return</button>
  </div>
</div>

<div class="purchase">
  <router-outlet></router-outlet>
</div>
