.empCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  align-items: center;
}

.empBody {
  background-color: var(--cardBackground);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.empBox {
  padding: 20px;
}

.empBox img {
  // width: 100%;
}
.empImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #fff;
  padding: 6px;
  box-sizing: border-box;
}

p {
  line-height: 0.5em;
}

.empName {
  display: flex;
  justify-content: center;
  // gap: 5px;
}
.profilefooter {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
}

.profilefooter button {
  width: 100px !important;
}
table {
  width: 100%;
  overflow-x: auto;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.action {
  display: flex;
  gap: 5px;
}

td img {
  height: 100px;
}
