<div class="search">
  <mat-form-field appearance="outline">
    <mat-label>Search Employee</mat-label>
    <input type="search" matInput [(ngModel)]="searchText" />
  </mat-form-field>
</div>
<div class="contentWrap">
  <div class="empCard">
    <div
      class="empBody"
      *ngFor="let employee of employees | employeeFilter : searchText"
    >
      <p>{{ employee.id }}</p>
      <div class="empBox">
        <img
          src="{{ employee.employeeIdentity.photo }}"
          alt=""
          class="empImg"
        />
        <h3>
          {{
            employee.employeeDetail.firstname +
              " " +
              employee.employeeDetail.lastname | titlecase
          }}
        </h3>
        <p>{{ "Phone No: " + employee.employeeDetail.phone }}</p>
      </div>
      <div class="profilefooter">
        <button mat-raised-button routerLink="{{ employee.id }}">Detail</button>

        <button
          mat-raised-button
          [routerLink]="['/employee/detail-employee', employee.id]"
        >
          Detail
        </button>
      </div>
    </div>
  </div>
</div>

<div class="viewemployee">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="" #input />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="employeeDetail.firstname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.employeeDetail.firstname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeDetail.middlename">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Middle Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.employeeDetail.middlename }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeDetail.lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let row">
          {{ row.employeeDetail.lastname }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeDetail.email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let row">
          {{ row.employeeDetail.email }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeDetail.phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phpne No</th>
        <td mat-cell *matCellDef="let row">
          {{ row.employeeDetail.phone }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeIdentity.designation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>designation</th>
        <td mat-cell *matCellDef="let row">
          {{ row.employeeIdentity.designation + "  " }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeIdentity.photo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Photo</th>
        <td mat-cell *matCellDef="let row">
          <img src="{{ row.employeeIdentity.photo }}" alt="" />
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
          <span class="action">
            <button mat-icon-button (click)="navigateToAddEmployee(row)">
              <mat-icon color="primary">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deletEmployeeById(row.id)">
              <mat-icon color="warn">delete</mat-icon>
            </button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>
  <!-- <button mat-icon-button (click)="navigateToAddEmployee()">
    <mat-icon color="primary">edit</mat-icon>
  </button> -->
</div>
